name: CI

on:
  push:
    branches:
    - master
    - release/*
    - develop/github/*
  pull_request:
    branches:
    - master

jobs:
  windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v6.0.1
      with:
        fetch-depth: 2
    - uses: actions/setup-dotnet@v5
      with:
        global-json-file: global.json
    - name: Tools
      run: dotnet tool restore
    - name: Setup
      run: dotnet run --project ./Build/Setup.fsproj
    - name: Build
      env:
        COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
        NUGET_API_TOKEN: ${{ secrets.NUGET_API_TOKEN }}
      run: dotnet run --project ./Build/Build.fsproj
    - uses: actions/upload-artifact@v6
      with:
          name: nupkgs
          path: _Packagin*/*.nupkg
  linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6.0.1
      with:
        fetch-depth: 2
    - uses: actions/setup-dotnet@v5
      with:
        global-json-file: global.json
    - name: Tools
      run: dotnet tool restore
    - name: Setup
      run: dotnet run --project ./Build/Setup.fsproj
    - name: Build
      run: dotnet run --project ./Build/Build.fsproj
